<div class="container text-center">
  <img src="assets/img/isd-parking-layout.png" alt="layout">
  <!-- side lots -->
  <div class="lot-side lot-1 bg-danger text-danger"></div>
  <div class="lot-side lot-2 bg-success text-danger"></div>
  <div class="lot-side lot-3 bg-danger text-danger"></div>

  <!-- upper lots -->
  <!-- <div class="lot-top lot-4 bg-danger text-danger"></div>
  <div class="lot-top lot-5 bg-success text-danger"></div>
  <div class="lot-top lot-6 bg-danger text-danger"></div>
  <div class="lot-top lot-7 bg-danger text-danger"></div>
  <div class="lot-top lot-8 bg-success text-danger"></div>
  <div class="lot-top lot-9 bg-danger text-danger"></div>
  <div class="lot-top lot-10 bg-danger text-danger"></div> -->

  <!-- smoking -->
  <div class="smoking text-secondary"><i class="fas fa-smoking"></i></div>
  <div class="backDoor">
    <div class="display-5">ISD </div>
    <div class="display-5">Back Door</div>
  </div>
</div>
