img {
  width: 42rem;
}

.container {
  position: relative;
}

.lot-side {
  position: absolute;
  width: 4.3rem;
  height: 1.9rem;
}

.lot-top {
  position: absolute;
  width: 1.6rem;
  height: 3.6rem;
}

.lot-1 {
  top: 23.75rem;
  left: 16.9rem;
}

.lot-2 {
  top: 25.8rem;
  left: 16.9rem;
}

.lot-3 {
  top: 27.9rem;
  left: 16.9rem;
}

.lot-4 {
  top: 1.1rem;
  left: 17.4rem;
}

.lot-5 {
  top: 1.1rem;
  left: 19.13rem;
}

.lot-6 {
  top: 1.1rem;
  left: 20.84rem;
}

.lot-7 {
  top: 1.1rem;
  left: 22.5rem;
}

.lot-8 {
  top: 1.1rem;
  left: 24.28rem;
}

.lot-9 {
  top: 1.1rem;
  left: 25.96rem;
}

.lot-10 {
  top: 1.1rem;
  left: 27.68rem;
}

.smoking {
  position: absolute;
  top: 29.4rem;
  left: 29.5rem;
}

.backDoor {
  position: absolute;
  bottom: 2rem;
  left: 14rem;
}

@media (max-width: 1199px) {
  .lot-side {
    width: 4.31rem;
    height: 1.91rem;
  }

  .lot-top {
    width: 1.6rem;
    height: 3.6rem;
  }

  .lot-1 {
    left: 11.23rem;
  }

  .lot-2 {
    height: 1.92rem;
    left: 11.23rem;
  }

  .lot-3 {
    left: 11.23rem;
  }

  .smoking {
    top: 29.4rem;
    left: 23.9rem;
  }

  .backDoor {
    left: 9rem;
  }
}

@media (max-width: 991px) {
  .lot-1 {
    left: 4.15rem;
    top: 23.78rem;
  }

  .lot-2 {
    left: 4.15rem;
    top: 25.84rem;
  }

  .lot-3 {
    left: 4.15rem;
  }

  .smoking {
    top: 29.4rem;
    left: 16.9rem;
  }

  .backDoor {
    left: 1rem;
  }
}

@media (max-width: 767px) {
  img {
    width: 31rem;
  }

  .lot-side {
    width: 3.25rem;
    height: 1.45rem;
  }

  .lot-top {
    width: 1.6rem;
    height: 3.6rem;
  }

  .lot-1 {
    top: 19.05rem;
    left: 3.3rem;
  }

  .lot-2 {
    top: 20.55rem;
    left: 3.3rem;
  }

  .lot-3 {
    top: 22.05rem;
    left: 3.3rem;
  }

  .smoking {
    top: 21.4rem;
    left: 12.5rem;
  }

  .backDoor {
    left: 1rem;
    font-size: .8rem;
    bottom: 1.5rem;
  }
}

@media (max-width: 425px) {
  img {
    width: 22rem;
  }

  .lot-side {
    width: 2.25rem;
    height: .95rem;
  }

  .lot-top {
    width: 1.6rem;
    height: 3.6rem;
  }

  .lot-1 {
    top: 12.46rem;
    left: 3.05rem;
  }

  .lot-2 {
    top: 13.53rem;
    left: 3.05rem;
  }

  .lot-3 {
    top: 14.6rem;
    left: 3.05rem;
  }

  .smoking {
    top: 15.3rem;
    left: 9.59rem;
    font-size: .6rem;
  }

  .backDoor {
    left: 1.4rem;
    font-size: .5rem;
    bottom: 1rem;
  }
}

@media (max-width: 395px) {
  img {
    width: 20.5rem;
  }

  .lot-side {
    width: 2.15rem;
    height: .93rem;
  }

  .lot-top {
    width: 1.6rem;
    height: 3.6rem;
  }

  .lot-1 {
    top: 12.6rem;
    left: 2.65rem;
  }

  .lot-2 {
    top: 13.61rem;
    left: 2.65rem;
  }

  .lot-3 {
    top: 14.60rem;
    left: 2.65rem;
  }

  .smoking {
    top: 14.3rem;
    left: 8.8rem;
  }
}

@media (max-width: 375px) {
  img {
    width: 20.5rem;
  }

  .lot-side {
    width: 2.15rem;
    height: .93rem;
  }

  .lot-top {
    width: 1.6rem;
    height: 3.6rem;
  }

  .lot-1 {
    top: 12.6rem;
    left: 2.5rem;
  }

  .lot-2 {
    top: 13.61rem;
    left: 2.5rem;
  }

  .lot-3 {
    top: 14.60rem;
    left: 2.5rem;
  }

  .smoking {
    left: 8.55rem;
  }

  .backDoor {
    left: 1rem;
  }
}
