.fa-user {
  font-size: 1rem;
}

img {
  width: 75px;
  height: 75px;
}

.app-name {
  text-align: center;
}

.user, a {
  cursor: pointer;
}


@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    top: 95%;
  }
}

.dropdown-item {
  transition:  1s;
}
.dropdown-item:hover {
  color: black!important;
}

.dropdown-menu {
  padding: 0;
  -webkit-box-shadow: 0px 11px 12px 12px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 11px 12px 12px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 11px 12px 12px rgba(50, 50, 50, 0.2);
  border-radius: 0;
}

.dropdown-divider {
  margin: 0;
}
@media (min-width: 768px) {
  .navbar-brand.abs
  {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.appname-logo {
  width: 10rem;
}

.navbar-brand.abs:hover {
  cursor: default;
}


.isd-navbar {
  background-color: #343a40!important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  /*border-bottom: 3px solid rgb(241, 93, 34) !important;*/
}

.isd-navbar a {
  color: #919495 !important;
  transition: 0.4s;
}

.isd-navbar  a:hover{
  color: #f44e00!important;
}


#navbarNav > ul > li > div > a:hover{
  color: #f44e00!important;
  padding-left: 30px;
}
