<nav class="navbar navbar-expand-lg navbar-light isd-navbar bg-dark">
  <div class="container">
    <a class="navbar-brand logo" (click)="navigateToMain()"><img src="assets/img/isd-logo.png" alt=""/>
    </a>
    <a class="navbar-brand abs">
      <!--      ParKing-->
      <img src="../../assets/img/ParKingLogo.png" class="appname-logo" (click)="navigateToMain()"/></a>
    <!--    to do : make logo in svg-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto text-light">

          <li class="nav-item" *ngIf='!this.isUserLoggedIn()' (click)="navigateToLogin()">
            <a class="nav-link">
              Login <i class="fas fa-sign-in-alt"></i></a>
          </li>

          <li class="nav-item" *ngIf='this.isUserLoggedIn()'>
            <a class="nav-link" href="#"><i class="fas fa-user"></i>
              <span class="capitalize"
                    href="#"> {{this?.getUserName() == null ? 'Unknown user' : this.capitalize(this?.getUserName())}} </span></a>
          </li>
          <li class="nav-item" *ngIf='this.isUserLoggedIn()' (click)="logout()">
            <a class="nav-link">Sign out <i class="fa fa-sign-out-alt"></i></a>
          </li>
          <li class="nav-item dropdown" *ngIf='this.isUserLoggedIn()'>
            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
              Menu
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-light" (click)="navigateToStats()"><i class="fa fa-clipboard"></i>
                Statistics</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-light" (click)="navigateToTest2()"><i class="fa fa-map"></i> Parking
                layout</a>
              <!-- <a class="dropdown-item text-light" (click)="navigateToTest2()">Test layout</a> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <hr style="border-top: 3px solid rgb(241, 93, 34)!important;">
</div>
