<nav class="navbar navbar-expand-sm navbar-light bg-blue border-bottom border-light">
  <div class="container">
    <a class="navbar-brand" (click)="navigateToMain()"><img src="assets/img/isd-logo.png" alt=""/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf='!this.isUserLoggedIn()'>
      <button class="btn btn-outline ml-auto text-light navbar-btn pull-right" type="button"
              (click)="navigateToLogin()">
        Login
      </button>
    </div>

    <div *ngIf='this.isUserLoggedIn()'>
      <div class="collapse navbar-collapse" id="navbarNav">

        <!--        User button-->
        <div class="user nav-link text-light" (click)="navigateTo404()"><i
          class="fas fa-user"></i><span
          class="capitalize"> {{this?.getUserName() == null ? 'Unknown user' : this.capitalize(this?.getUserName())}} </span>
        </div>
        <!--        Logout button-->
        <div class="user nav-link text-light" (click)="logout()">Logout <i class="fas fa-sign-out-alt"></i></div>

        <ul class="navbar-nav ml-auto text-light">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
              Menu
            </a>
            <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-light" (click)="navigateToStats()">Statistics</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-light" (click)="navigateToTest2()">Parking layout</a>
              <!-- <a class="dropdown-item text-light" (click)="navigateToTest2()">Test layout</a> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
