.fa-user {
  font-size: 1rem;
}

img {
  width: 75px;
  height: 75px;
}

.app-name {
  text-align: center;
}

.user, a {
  cursor: pointer;
}

.bg-blue {
  background-color: #0A8EFF;
}
@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    top: 95%;
  }
}

.dropdown-item {
  transition:  1s;
}
.dropdown-item:hover {
  color: black!important;
}

.dropdown-menu {
  padding: 0;
  -webkit-box-shadow: 0px 17px 26px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 17px 26px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 17px 26px 0px rgba(0,0,0,0.36);
}

.dropdown-divider {
  margin: 0;
}
@media (min-width: 768px) {
  .navbar-brand.abs
  {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.appname-logo {
  width: 10rem;
}

.navbar-brand.abs:hover {
  cursor: default;
}
