<nav class="navbar navbar-expand-sm navbar-light bg-blue">
  <div class="container">
    <a class="navbar-brand" (click)="navigateToMain()"><img src="assets/img/isd-logo.png" alt=""/>
      <!-- <span class="app-name text-light">ParKing App</span> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto text-light">
        <div class="user nav-link text-light" (click)="navigateTo404()"><i class="fas fa-user"></i> User</div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
            Menu
          </a>
          <div class="dropdown-menu bg-blue" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" (click)="navigateToStats()">Statistics</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" (click)="navigateToTest2()">Test layout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
