
.login-form {
  text-align: center;
  width: 30rem;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 4rem auto;
  background-color: #fff;
  padding: 2rem;
}

.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.show > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #F7B432;
  border-color: #F7B432;
  box-shadow: none;
}

.login-btn:hover {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

input.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

input.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

input {
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 1rem;
  background-color: #ecf2f4;
  border-radius: 0.2rem;
  border: none;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #393739;
}
.btn {
  border-radius: 0.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.full-width {
  width: 100%;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.isd-red {
  background-color: #F34C00;
}

.box {
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
