.green {
  background-color: #20b600;
}

.red {
  background-color: #e76f51;
}

.grey {
  background-color: grey;
}

.refresh {
  background-color: #3057e2;
}

img {
  width: 42rem;
}

.container {
  position: relative;
}

.lot-side {
  position: absolute;
  width: 4.3rem;
  height: 1.9rem;
  cursor: pointer;
}

.lot-side:hover, .lot-top:hover {
  opacity: .75;
}

.lot-top {
  position: absolute;
  width: 1.9rem;
  height: 4.35rem;
  cursor: pointer;
}

.lot-1 {
  top: 23.76rem;
  left: 16.9rem;
}

.lot-2 {
  top: 25.82rem;
  left: 16.9rem;
}

.lot-3 {
  top: 27.9rem;
  left: 16.9rem;
}

.lot-4 {
  top: 1.34rem;
  left: 33.46rem;
}

.lot-5 {
  width: 1.92rem;
  top: 1.34rem;
  left: 35.5rem;
}

.lot-6 {
  top: 1.34rem;
  left: 37.57rem;
}

.lot-7 {
  top: 1.34rem;
  left: 39.64rem;
}

.lot-8 {
  top: 1.34rem;
  left: 41.7rem;
}

.lot-9 {
  top: 1.34rem;
  left: 43.7rem;
  width: 1.96rem;
}

.lot-10 {
  top: 1.34rem;
  left: 45.78rem;
}

.smoking {
  position: absolute;
  top: 29.4rem;
  left: 29.5rem;
}

.backDoor {
  position: absolute;
  bottom: 2rem;
  left: 14rem;
}

@media (max-width: 1199px) {
  .lot-side {
    width: 4.31rem;
    height: 1.91rem;
  }

  .lot-top {
    width: 2rem;
    height: 4.35rem;
  }

  .lot-1 {
    left: 11.23rem;
  }

  .lot-2 {
    height: 1.92rem;
    left: 11.23rem;
  }

  .lot-3 {
    left: 11.23rem;
    top: 27.9rem;
  }

  .lot-4 {
    top: 1.34rem;
    left: 27.8rem;
  }

  .lot-5 {
    top: 1.34rem;
    left: 29.9rem;
  }

  .lot-6 {
    top: 1.34rem;
    left: 31.9rem;
  }

  .lot-7 {
    top: 1.34rem;
    left: 33.9rem;
  }

  .lot-8 {
    top: 1.34rem;
    left: 36rem;
  }

  .lot-9 {
    top: 1.34rem;
    left: 38.1rem;
  }

  .lot-10 {
    top: 1.34rem;
    left: 40.15rem;
  }

  .smoking {
    top: 29.4rem;
    left: 23.9rem;
  }

  .backDoor {
    left: 9rem;
  }
}

@media (max-width: 991px) {
  .lot-1 {
    left: 4.15rem;
    top: 23.78rem;
  }

  .lot-2 {
    left: 4.15rem;
    top: 25.84rem;
  }

  .lot-3 {
    left: 4.15rem;
  }

  .lot-4 {
    top: 1.34rem;
    left: 20.6rem;
  }

  .lot-5 {
    top: 1.34rem;
    left: 22.7rem;
  }

  .lot-6 {
    top: 1.34rem;
    left: 24.8rem;
  }

  .lot-7 {
    top: 1.34rem;
    left: 26.8rem;
  }

  .lot-8 {
    top: 1.34rem;
    left: 28.9rem;
  }

  .lot-9 {
    top: 1.34rem;
    left: 30.95rem;
  }

  .lot-10 {
    top: 1.34rem;
    left: 33rem;
  }

  .smoking {
    top: 29.4rem;
    left: 16.9rem;
  }

  .backDoor {
    left: 1rem;
  }
}

@media (max-width: 767px) {
  img {
    width: 31rem;
  }

  .lot-side {
    width: 3.25rem;
    height: 1.45rem;
  }

  .lot-top {
    width: 1.6rem;
    height: 3.6rem;
  }

  .lot-1 {
    top: 19.05rem;
    left: 3.3rem;
  }

  .lot-2 {
    top: 20.55rem;
    left: 3.3rem;
  }

  .lot-3 {
    top: 22.05rem;
    left: 3.3rem;
  }

  .smoking {
    top: 21.4rem;
    left: 12.5rem;
  }

  .backDoor {
    left: 1rem;
    font-size: .8rem;
    bottom: 1.5rem;
  }
}

@media (max-width: 425px) {
  img {
    width: 22rem;
  }

  .lot-side {
    width: 2.25rem;
    height: .95rem;
  }

  .lot-top {
    width: 1.6rem;
    height: 3.6rem;
  }

  .lot-1 {
    top: 12.46rem;
    left: 3.05rem;
  }

  .lot-2 {
    top: 13.53rem;
    left: 3.05rem;
  }

  .lot-3 {
    top: 14.6rem;
    left: 3.05rem;
  }

  .smoking {
    top: 15.3rem;
    left: 9.59rem;
    font-size: .6rem;
  }

  .backDoor {
    left: 1.4rem;
    font-size: .8rem;
    bottom: 1rem;
  }
}

@media (max-width: 395px) {
  img {
    width: 24.5rem;
  }

  .lot-side {
    width: 2.56rem;
    height: 1.2rem;
  }

  .lot-top {
    width: 1.2rem;
    height: 2.56rem;
  }

  .lot-1 {
    top: 13.8rem;
    left: 1.9rem;
  }

  .lot-2 {
    top: 15.04rem;
    left: 1.9rem;
  }

  .lot-3 {
    top: 16.23rem;
    left: 1.9rem;
  }

  .lot-4 {
    top: .78rem;
    left: 11.57rem;
  }

  .lot-5 {
    top: .78rem;
    left: 12.77rem;
  }

  .lot-6 {
    top: .78rem;
    left: 13.96rem;
  }

  .lot-7 {
    top: .78rem;
    left: 15.17rem;
  }

  .lot-8 {
    top: .78rem;
    left: 16.37rem;
  }

  .lot-9 {
    top: .78rem;
    left: 17.57rem;
  }

  .lot-10 {
    top: .78rem;
    left: 18.77rem;
  }

  .smoking {
    top: 17rem;
    left: 9.29rem;
  }
}

@media (max-width: 375px) {
  img {
    width: 20.5rem;
  }

  .lot-side {
    width: 2.15rem;
    height: .93rem;
  }

  .lot-top {
    width: 1.6rem;
    height: 3.6rem;
  }

  .lot-1 {
    top: 12.6rem;
    left: 2.5rem;
  }

  .lot-2 {
    top: 13.61rem;
    left: 2.5rem;
  }

  .lot-3 {
    top: 14.60rem;
    left: 2.5rem;
  }

  .smoking {
    left: 8.55rem;
  }

  .backDoor {
    left: 1rem;
  }
}
