.refresh {
  color: #D1E7FA;
  border-color: #D1E7FA;
  background-color: #0A8EFF;
}

.refresh:hover {
  color: #0A8EFF;
  background-color: #D1E7FA;
  border-color: #D1E7FA;
}

img {
  width: 42rem;
}

span {
  font-family: 'Allerta Stencil';
  font-size: 22px;
}

.car-icon {
  background-size: cover;
  background-position: center;
}

.car-occupied-side {
  background-image: url("../../assets/img/car-side-blue.png");
}

.car-occupied-top {
  background-image: url("../../assets/img/car-top-blue.png");
}

.car-lost-side {
  background-image: url("../../assets/img/car-side-blue-lost.png");
}

.car-lost-top {
  background-image: url("../../assets/img/car-top-blue-lost.png");
}

.car-free-side {
  background-image: url("../../assets/img/car-side-blue-free-border.png");
}

.car-free-top {
  background-image: url("../../assets/img/car-top-blue-free-border.png");
}

.container {
  position: relative;
}

.lot-number-top {
  text-orientation: mixed;
  writing-mode: vertical-rl;
  color: #D1E7FA;
}

.lot-number-side {
  line-height: 1.9rem;
}

.lot-side {
  position: absolute;
  width: 4.2rem;
  height: 1.95rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #D1E7FA;
}

.lot-side:hover, .lot-top:hover {
  opacity: .75;
}

.lot-top {
  position: absolute;
  width: 1.9rem;
  height: 4.35rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.lot-1 {
  top: 21.2rem;
  left: 15.25rem;
}

.lot-2 {
  top: 23.33rem;
  left: 15.25rem;
}

.lot-3 {
  top: 25.45rem;
  left: 15.25rem;
}

.lot-4 {
  top: 0.8rem;
  left: 36.85rem;
}

.lot-5 {
  top: 0.8rem;
  left: 38.97rem;
}

.lot-6 {
  top: 0.8rem;
  left: 41.05rem;
}

.lot-7 {
  top: 0.8rem;
  left: 43.17rem;
}

.lot-8 {
  top: 0.8rem;
  left: 45.28rem;
}

.lot-9 {
  top: 0.8rem;
  left: 47.43rem;
}

.lot-10 {
  top: 0.8rem;
  left: 49.53rem;
}

.smoking {
  position: absolute;
  top: 31.4rem;
  left: 28.2rem;
}

.smoking i {
  color: #D1E7FA;
}

.backDoor {
  position: absolute;
  bottom: 1rem;
  left: 14.5rem;
  font-size: 1.5rem;
  color: #D1E7FA;
}

@media (max-width: 1199px) {
  .lot-side {
    width: 4.2rem;
    height: 1.93rem;
  }

  /* .lot-top {
    width: 1.93rem;
    height: 4.35rem;
  } */

  .lot-1 {
    left: 9.6rem;
    top: 21.25rem;
  }

  .lot-2 {
    top: 23.35rem;
    left: 9.6rem;
  }

  .lot-3 {
    left: 9.6rem;
  }

  .lot-4 {
    top: .8rem;
    left: 31.2rem;
  }

  .lot-5 {
    top: .8rem;
    left: 33.37rem;
  }

  .lot-6 {
    top: .8rem;
    left: 35.45rem;
  }

  .lot-7 {
    top: .8rem;
    left: 37.55rem;
  }

  .lot-8 {
    top: .8rem;
    left: 39.7rem;
  }

  .lot-9 {
    top: .8rem;
    left: 41.8rem;
  }

  .lot-10 {
    top: .8rem;
    left: 43.9rem;
  }

  .smoking {
    top: 31.4rem;
    left: 22.6rem;
  }

  .backDoor {
    left: 8.9rem;
  }
}

@media (max-width: 991px) {
  .lot-1 {
    left: 2.15rem;
    top: 21.22rem;
  }

  .lot-2 {
    left: 2.15rem;
    top: 23.35rem;
  }

  .lot-3 {
    left: 2.15rem;
    top: 25.47rem;
  }

  .lot-4 {
    top: .7rem;
    left: 23.7rem;
  }

  .lot-5 {
    top: .7rem;
    left: 25.88rem;
  }

  .lot-6 {
    top: .7rem;
    left: 27.95rem;
  }

  .lot-7 {
    top: .7rem;
    left: 30.08rem;
  }

  .lot-8 {
    top: .7rem;
    left: 32.18rem;
  }

  .lot-9 {
    top: .7rem;
    left: 34.35rem;
  }

  .lot-10 {
    top: .7rem;
    left: 36.45rem;
  }

  .smoking {
    top: 31.4rem;
    left: 15.15rem;
  }

  .backDoor {
    left: 1.45rem;
  }
}

@media (max-width: 767px) {
  img {
    width: 31rem;
  }

  .lot-side {
    width: 3.25rem;
    height: 1.4rem;
  }

  .lot-top {
    width: 1.4rem;
    height: 3.3rem;
  }

  .lot-number-side {
    line-height: 1.3rem;
    font-size: 18px;
  }

  .lot-number-top {
    font-size: 17px;
  }

  .lot-1 {
    top: 15.7rem;
    left: 1.85rem;
  }

  .lot-2 {
    top: 17.24rem;
    left: 1.85rem;
  }

  .lot-3 {
    top: 18.8rem;
    left: 1.85rem;
  }

  .lot-4 {
    top: .5rem;
    left: 17.8rem;
  }

  .lot-5 {
    top: .5rem;
    left: 19.37rem;
  }

  .lot-6 {
    top: .5rem;
    left: 20.93rem;
  }

  .lot-7 {
    top: .5rem;
    left: 22.48rem;
  }

  .lot-8 {
    top: .5rem;
    left: 24.06rem;
  }

  .lot-9 {
    top: .5rem;
    left: 25.62rem;
  }

  .lot-10 {
    top: .5rem;
    left: 27.18rem;
  }

  .smoking {
    top: 23rem;
    left: 11.4rem;
    font-size: smaller;
  }

  .backDoor {
    left: 1.3rem;
    font-size: 1.1rem;
    bottom: .7rem;
  }
}

@media (max-width: 414px) {
  img {
    width: 25.5rem;
  }

  .lot-side {
    width: 2.6rem;
    height: 1.14rem;
  }

  .lot-top {
    width: 1.18rem;
    height: 2.8rem;
  }

  .lot-number-side {
    line-height: 1.1rem;
    font-size: 15px;
  }

  .lot-number-top {
    font-size: 15px;
    line-height: initial;
  }

  .lot-1 {
    top: 12.9rem;
    left: 0.5rem;
  }

  .lot-2 {
    top: 14.18rem;
    left: 0.5rem;
  }

  .lot-3 {
    top: 15.45rem;
    left: 0.5rem;
  }

  .lot-4 {
    top: .4rem;
    left: 13.6rem;
  }

  .lot-5 {
    top: .4rem;
    left: 14.94rem;
  }

  .lot-6 {
    top: .4rem;
    left: 16.22rem;
  }

  .lot-7 {
    top: .4rem;
    left: 17.48rem;
  }

  .lot-8 {
    top: .4rem;
    left: 18.8rem;
  }

  .lot-9 {
    top: .4rem;
    left: 20.1rem;
  }

  .lot-10 {
    top: .4rem;
    left: 21.37rem;
  }

  .smoking {
    top: 15.3rem;
    left: 9.59rem;
    font-size: .6rem;
  }

  .backDoor {
    left: 0.3rem;
    font-size: .9rem;
    bottom: .5rem;

  }
}

@media (max-width: 394px) {
.title {
  font-size: 2.5rem;
}

  img {
    width: 24.5rem;
  }

  .lot-side {
    width: 2.45rem;
    height: 1.05rem;
  }

  .lot-top {
    width: 1.1rem;
    height: 2.45rem;
  }

  .lot-number-top {
    font-size: 15px;
  }

  .lot-1 {
    top: 12.45rem;
    left: 0.4rem;
  }

  .lot-2 {
    top: 13.67rem;
    left: 0.4rem;
  }

  .lot-3 {
    top: 14.906rem;
    left: 0.4rem;
  }

  .lot-4 {
    top: .4rem;
    left: 13rem;
  }

  .lot-5 {
    top: .4rem;
    left: 14.25rem;
  }

  .lot-6 {
    top: .4rem;
    left: 15.5rem;
  }

  .lot-7 {
    top: .4rem;
    left: 16.7rem;
  }

  .lot-8 {
    top: .4rem;
    left: 17.95rem;
  }

  .lot-9 {
    top: .4rem;
    left: 19.2rem;
  }

  .lot-10 {
    top: .4rem;
    left: 20.41rem;
  }

  .smoking {
    top: 18.5rem;
    left: 7.95rem;
  }

  .backDoor {
    left: 0.1rem;
    font-size: .9rem;
    bottom: .4rem;
  }

  span {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  img {
    width: 23rem;
  }

  .lot-side {
    width: 2.4rem;
    height: 1.05rem;
  }

  .lot-top {
    width: 1.05rem;
    height: 2.45rem;
  }

  .lot-number-top {
    font-size: 13px;
    line-height: unset;
  }

  .lot-number-side {
    font-size: 13px;
  }

  .lot-1 {
    top: 11.6rem;
    left: 0.55rem;
  }

  .lot-2 {
    top: 12.79rem;
    left: 0.55rem;
  }

  .lot-3 {
    top: 13.91rem;
    left: 0.55rem;
  }

  .lot-4 {
    top: .35rem;
    left: 13.58rem;
  }

  .lot-5 {
    top: .35rem;
    left: 14.72rem;
  }

  .lot-6 {
    top: .35rem;
    left: 15.85rem;
  }

  .lot-7 {
    top: .35rem;
    left: 17.04rem;
  }

  .lot-8 {
    top: .35rem;
    left: 18.2rem;
  }

  .lot-9 {
    top: .35rem;
    left: 19.35rem;
  }

  .lot-10 {
    top: .35rem;
    left: 20.47rem;
  }

  .smoking {
    top: 17rem;
    left: 7.65rem;
  }

  .backDoor {
    left: 0.2rem;
    font-size: .9rem;
    bottom: .4rem;
  }

  span {
    font-size: 15px;
  }
}
