<h1>Statistics</h1>

<div class="search row">
  <div class="date col-6">
    <label for="dateBegin">Start date:</label>
    <input class="form-control" id="dataBegin" type="date" [(ngModel)]="startDate" (change)="filterData()"/><br>
    <label for="dateEnd">End date:</label>
    <input class="form-control" id="dateEnd" type="date" [(ngModel)]="endDate" (change)="filterData()"/>
    <div class="btn btn-info" (click)="loadData()">Reset</div>
  </div>
  <div class="id col-6">
    <label for="lotNumber">Lot number</label>
    <select class="form-control" name="lots" [(ngModel)]="selectedLotNumber" (change)="filterData()">
      <option>-</option>
      <option *ngFor="let lot of parkingLots">{{lot.number}}</option>
    </select>
  </div>
</div>

<div>
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th (click)="sortTableByLotNumber()">
            <span class="lot">Parking Lot
              <i class="fas fa-sort-up" *ngIf="lotSortedAsc"></i>
              <i class="fas fa-sort-down" *ngIf="lotSortedDesc"></i>
            </span>
          </th>
          <th>Status</th>
          <th (click)="sortTableByTime()">
            <span class="time">Time
              <i class="fas fa-sort-up" *ngIf="timeSortedAsc"></i>
              <i class="fas fa-sort-down" *ngIf="timeSortedDesc"></i>
              </span>
            </th>
          <th (click)="sortTableByDate()">
            <span class="date">Date
              <i class="fas fa-sort-up" *ngIf="dateSortedAsc"></i>
              <i class="fas fa-sort-down" *ngIf="dateSortedDesc"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of filteredStatistics">
          <td>{{'LOT ' + stat.lot.number}}</td>
          <td>{{stat.status}}</td>
          <td>{{stat.updatedAt | date : "HH:mm"}}</td>
          <td>{{stat.updatedAt | date : "dd.MM.yy"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

