.lot-name {
  text-transform: uppercase;
}

.refresh {
  color: #fff;
  border-color: #fff;
  background-color: #0A8EFF;
}

.refresh:hover {
  color: #0A8EFF;
  background-color: #fff;
  border-color: #fff;
}

.green {
  background-color: #0aff7c;
}

.red {
  background-color: #ff640a;
}

.grey {
  background-color: grey;
}

.yellow {
  background-color: #ffea00;
}

.fas, .far {
  font-size: 3rem;
}

.lot {
  cursor: unset;

  min-height: 5rem;
}

span {
  color: #D1E7FA;
}
