<h2 class="text-dark">Parking lot details</h2>
<div class="card mx-auto" style="width: 20rem;">
<div *ngIf="parkingLot != null">

  <div class="btn lot col-sm-12 "  [ngClass]="{'green': parkingLot.status === 'FREE', 'red' : parkingLot.status === 'OCCUPIED', 'grey' : parkingLot.status === 'UNKNOWN'}">
    <i class="fas fa-car" *ngIf="parkingLot.status === 'OCCUPIED'"></i>
    <i class="fas fa-parking" *ngIf="parkingLot.status === 'FREE'"></i>
    <i class="fas fa-ban" *ngIf="parkingLot.status === 'UNKNOWN'"></i>
  </div>

  <div class="card-body">
      <span><b>Name: </b></span>
      <span class="lot-name">{{'LOT ' + parkingLot.number}}</span><br>
      <span><b>Status: </b></span>
      <span>{{parkingLot.status}} </span><span *ngIf="parkingLot.status === 'OCCUPIED'"><br>Since {{parkingLot.updatedAt | date : 'HH:mm dd-MMM-yyyy'}}</span><br>
    <button class="btn col refresh text-center" (click)="goBack()">Back</button>
  </div>
</div>
</div>

<div class="error text-dark" [hidden]="parkingLot != null">Something went wrong, please click on Refresh button</div>

<div class="container">
  <div class="row ">
    <div class="col text-center">
      <button class="btn refresh" (click)="goBack() "  [hidden]="parkingLot != null">Back</button>
    </div>
  </div>
</div>
