.lot-name {
  text-transform: uppercase;
}

.refresh {
  min-width: 50%;
  margin-top: 20px;
  background-color: #3C99DC;
}

.green {
  background-color: #2DF726;
}

.red {
  background-color: #FF4038;
}

.grey {
  background-color: grey;
}

.fas, .far {
  font-size: 3rem;
}

.lot {
  cursor: unset;
}
