.lot-name {
  text-transform: uppercase;
}

.refresh {
  color: #fff;
  border-color: #fff;
  background-color: #f44e00;
}

.refresh:hover {
  color: #f44e00;
  background-color: #fff;
  border-color: #fff;
}

.green {
  background-color: #0aff7c;
}

.red {
  background-color: #ff640a;
}

.grey {
  background-color: grey;
}

.fas, .far {
  font-size: 3rem;
}

.lot {
  cursor: unset;
}

span {
  color: black;
}
