<h2 class="text-light">Parking lot details</h2>
<div *ngIf="parkingLot != null">

  <div class="btn lot col-sm-12 "  [ngClass]="{'green': parkingLot.status === 'FREE', 'red' : parkingLot.status === 'OCCUPIED', 'grey' : parkingLot.status === 'UNKNOWN'}">
    <i class="fas fa-car" *ngIf="parkingLot.status === 'OCCUPIED'"></i>
    <i class="fas fa-parking" *ngIf="parkingLot.status === 'FREE'"></i>
    <i class="fas fa-ban" *ngIf="parkingLot.status === 'UNKNOWN'"></i>
  </div>

  <div class="col-sm-12">
    <div>
      <span >Name: </span>
      <span class="lot-name">{{'LOT ' + parkingLot.number}}</span>
    </div>
    <div>
      <span>Status: </span>
      <span>{{parkingLot.status}} </span><span *ngIf="parkingLot.status === 'OCCUPIED'">since {{parkingLot.updatedAt | date : 'HH:mm dd-MMM-yyyy'}}</span>
    </div>
  </div>
</div>

<div class="error text-light" [hidden]="parkingLot != null">Something went wrong, please click on Refresh button</div>

<div class="row justify-content-center" >
  <div class="btn btn-info refresh w-50" (click)="goBack()">Back</div>
</div>
